
.Model {
    width: 85%;
    margin: 1rem auto;
}

.Model_box {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: center;
}

.Model_box_right h1 {
    font-size: 3rem;
    color: #5ecf7a; 
    line-height: 0.9;
}

.Model_box_right h1 span {
    display: block;
    font-size: 5rem;
    color: var(--secondary-purple); 
}

.Model_box_right small {
    font-size: 1.2rem;
    color:  #5ac174;
    display: block;
    margin-bottom: 1.5rem;
}
.Model_box_right_name_info {
    display: flex;
    align-items: center;
    margin-block: 1rem;
    gap: 1rem;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: .5rem;
    transition: 0.3s ease;
}

.Model_box_right_name_info:hover {
    border-color: var(--secondary-purple);
}

.Model_box_right_name_info input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
}

.Model_box_right_name_info img {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(120deg) brightness(118%) contrast(119%);
}

.Model_box_right_name_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

 
.Model_box_right_name_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.Model_box_right_name_btn button:first-child {
    background: transparent;
    border: 1px solid var(--secondary-purple);
    color: var(--secondary-purple);
}

.Model_box_right_name_btn button:last-child {
    background: transparent;
    border: 1px solid var(--secondary-purple);
    color: var(--secondary-purple);
}

.Model_box_right_name_btn button:hover {
  background: rgba(0,0,0,0.35);
  transform: translateY(-2px);
}
@media only screen and (max-width: 35em) {
    .Model {
        width: 85%;
        padding: 1rem;
        margin: 0;
    }

    .Model_box {
        grid-template-columns: 1fr; 
        gap: 0;
    }

    .Model_box_left {
        display: none; 
    }

    .Model_box_right {
        padding: 1rem;
        text-align: center;
    }

    .Model_box_right h1 {
      font-size: 2rem;
      line-height: 1.2;
    }

    .Model_box_right h1 span {
        font-size: 3rem;
    }

    .Model_box_right_name_btn {
        grid-template-columns: 1fr; 
    }
}